# Ignorar carpeta completa de IDEA
.idea/

# Otras reglas que tenías
/shelf/
/workspace.xml
.idea.TodoApi.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/httpRequests/
/dataSources/
/dataSources.local.xml
