# Ignore IntelliJ IDEA configuration folder
.idea/

# IDEA project-specific files
.idea.TodoApi.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml

# Workspace and local shelves
/workspace.xml
/shelf/

# HTTP requests and data sources
/httpRequests/
/dataSources/
/dataSources.local.xml
